<div class="panel panel-primary">
  <br>
  <div class="panel-heading">
    <b class="title">
      Header Line Form </b>

    <!-- <a href="/add_header_line_record" style=" font-size: 20px; margin-left: 1030px;" > -->
    <button style=" font-size: 20px; margin-left: 1030px;" mat-raised-button matTooltip="Info about the action"
      aria-label="Button that displays a tooltip when focused or hovered over"><span class="material-icons">
        add
      </span>        
    </button>
    <!-- </a> -->

  </div>
  <br>


  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>College Name</th>
          <th>Department</th>
          <th>Roll No.</th>
          <th>Email Id</th>
          <th>Id</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Karam</td>
          <td>LKC</td>
          <td>IT</td>
          <td>51</td>
          <td>ks@gmail.com</td>
          <td>
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-primary" style="margin-left: 10px">Update</button>
            <button class="btn btn-success" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br><br><br>
</div>
<br><br><br>