<br><br>
<form class="example-form">
  <br><br>
  <div class="header">
    <h1 class="header_caption">Add Menu</h1>
  </div>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Menu Name</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Menu Icon </mat-label>
          <input matInput>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Menu Path</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Menu Name</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Menu Icon </mat-label>
          <input matInput>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Menu Path</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
    </tr>

  </table>

  <div class="submitDiv"> <button type="submit" class="btn btn-success">Submit</button>
  </div>
  <br><br>
</form>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>