<body>
   

    <h2 class="dbc_title">Services</h2>

    <mat-tab-group>
        <mat-tab label="Responsive Web Designs">

            <img src="assets/img/Website-Design.jpg" width="600" height="400"
                style="margin-top:30px; margin-left:30px;">

        </mat-tab>

        <mat-tab label="Backend Development">
            <img src="assets/img/iceberge_backend.jpg" width="600" height="400"
                style="margin-top:30px; margin-left:30px;">
        </mat-tab>

        <mat-tab label="Microservices">
            <img src="assets/img/msimg.png" width="750" height="400" style="margin-top:30px; margin-left:30px;">
        </mat-tab>
        <mat-tab label="Cloud Servers"> <img src="assets/img/Cloud-Server.jpg" width="750" height="400"
                style="margin-top:30px; margin-left:30px;"> </mat-tab>
        <mat-tab label="Data Management"> <img src="assets/img/database-development.png" width="600" height="400"
                style="margin-top:30px; margin-left:30px;"> </mat-tab>

        <mat-tab label="Maintanance & Support">
            <img src="assets/img/website-maintenance.jpg" width="500" height="450"
                style="margin-top:30px; margin-left:30px;">
        </mat-tab>


    </mat-tab-group>



    
    <mat-card> We Are Creative

        <br> Get Your Website from this online portal.


        <img src="assets/img/pcimage.jpg" width="600" height="400" style="margin-top:30px; margin-left:30px;">

    </mat-card>


</body>