<div class="login">
<br><br>
<div class="header">
  <h1 class="header_caption">Log In</h1>
</div>
<!-- <hr class="header-row"> -->

<form class="example-form">

  <table class="example-full-width" cellspacing="0">
    <tr class="tr1">
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>User Name</mat-label>
          <input matInput required>
        </mat-form-field>
      </td>
      
    </tr>

    <tr class="tr2">
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput pa type="password" required>
          </mat-form-field>
        </td>
       
      </tr>

  </table>

  <div class="submitDiv">  <button type="submit" class="btn btn-success">Log In</button>
  </div>

</form>

<br><br>
</div>